:root {
  --primary-color: #56508b;
  --secondary-color: #b63958;
  --tertiary-color: #b25068;
}

.App body {
  margin: 0 auto;
  font-family: "Poppins", sans-serif;
}

.App .container {
  padding-top: 80px;
}

.App .card {
  max-width: 800px;
  margin: 80px auto 30px auto;
  border-radius: 22px;
  background-color: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(1.5rem);
  box-shadow: 0 1rem 3rem -2rem #493167,
    inset 0 0 0.2rem rgba(255, 255, 255, 0.4);
}

.App .card-body {
  padding: 40px;
}

/* Footer */
.App .github-link {
  display: block;
  margin: 0 auto;
  max-width: 800px;
  text-align: left;
}

.App .link {
  text-decoration: none;
  color: var(--secondary-color);
}

.App .creator-name {
  color: var(--primary-color);
}
