/* Search form button */
.CurrentWeather .btn-primary {
  color: white;
  background-color: #b25068;
  font-weight: 500;
  border: none;
  padding-left: 20px;
  padding-right: 20px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 10px 10px 0px;
}
.CurrentWeather .btn-primary:hover,
.btn-primary:active,
.btn-primary:focus {
  background-color: #b63958 !important;
}

/* Current location pin */
.CurrentWeather .current-location-icon {
  color: #b25068;
  font-size: 34px;
}

.CurrentWeather .current-location-icon:hover {
  color: #b63958;
}

/* City name and conditions */
.CurrentWeather h1 {
  font-weight: 500;
  color: #fff;
}

.CurrentWeather h5 {
  color: #56508b;
}

.CurrentWeather h5:first-letter {
  text-transform: capitalize;
}
/* 
#celsius-link,
#fahrenheit-link {
  color: #56508b;
} */

/* Current city weather overview */
.CurrentWeather .daily-overview {
  padding-top: 30px;
}

/* Date and time */
.CurrentWeather .date-time {
  font-weight: 500;
  font-size: 22px;
  list-style: none;
  color: #56508b;
}

/* Humidity and windspeed */
.CurrentWeather .conditions {
  list-style: none;
  color: #56508b;
}

/* Weather icon */
.CurrentWeather .icon-container img {
  margin-right: 5px;
  height: 100px;
  width: 100px;
}

/* Temperature */
.CurrentWeather .temperature-container strong {
  font-weight: 400;
  font-size: 70px;
  padding-left: 36px;
  color: #b63958;
}

.CurrentWeather .temperature-container .units {
  position: relative;
  top: -38px;
  font-size: 16px;
}

.CurrentWeather .temperature-container .active {
  cursor: default;
}

.CurrentWeather .temperature-container .active:hover {
  text-decoration: none;
}
