.DailyOverview h1 {
  font-weight: 500;
  color: #fff;
}

.DailyOverview h5 {
  color: #56508b;
}

.DailyOverview h5:first-letter {
  text-transform: capitalize;
}

#celsius-link,
#fahrenheit-link {
  color: #56508b;
}

/* Current city and weather description */
.DailyOverview .daily-overview {
  padding-top: 30px;
}

/* Current date and time */
.DailyOverview .date-time {
  font-weight: 500;
  font-size: 22px;
  list-style: none;
  color: #56508b;
}

/* Current humidity and windspeed */
.DailyOverview .conditions {
  list-style: none;
  color: #56508b;
}

/* Current weather icon */
.DailyOverview .icon-container img {
  margin-right: 5px;
  height: 100px;
  width: 100px;
}

/* Current temperature */
.DailyOverview .temperature-container strong {
  font-weight: 400;
  font-size: 70px;
  padding-left: 36px;
  color: #b63958;
}

.DailyOverview .temperature-container .units {
  position: relative;
  top: -38px;
  font-size: 16px;
}

.DailyOverview .temperature-container .active {
  cursor: default;
}

.DailyOverview .temperature-container .active:hover {
  text-decoration: none;
}
